{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='/static/img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">FinViz420 is a Plotly Dash App within Flask that {{ description }}.</p>
  <a href="/dashapp/" class="dash-link">
    <span>Click to LARP as the Beautiful Mind Guy</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}